@import "palette";
@import "common";

$stepTime: 200ms;

.Puzzle15 {
  .back {
    fill: $colorGrey;
  }

  .chip {

    cursor: default;
    .chip-back {
      fill: $colorLightRed;
      transition-duration: $stepTime;
      transition-property: fill;
    }
    .chip-edge {
      stroke: $colorMiddleRed;
      stroke-width: 10;
      fill: none;
      transition-duration: $stepTime;
      transition-property: stroke;

    }
    .chip-glow {
      stroke-width: 10;
      display: none;

    }
    .chip-numb {
      font-family: $fontFamily;
      font-size: 60px;
      //font-weight: bold;
      fill: $colorDarkRed;
      text-anchor: middle;
      alignment-baseline: central;
      transition-duration: $stepTime;
      transition-property: fill;

    }

  }

  .chip.active {
    cursor: pointer;
    .chip-glow {
      display: block;
    }
  }

  .chip.correct {
    .chip-back {
      fill: $colorLightGreen;

    }
    .chip-edge {
      stroke: $colorMiddleGreen;

    }
    .chip-numb {
      fill: $colorDarkGreen;

    }
  }
}