@import url(https://fonts.googleapis.com/css?family=Roboto);

$fontFamily: 'Roboto', sans-serif;

.puzzle-container {
  height: auto;
  width: 100%;

  margin-top: 20px;

  svg {
    height: 100%;
    width: 100%;
  }
}