@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "palette";


$fontFamily: 'Roboto', sans-serif;

body {
  background-color: $colorGrey;
  padding-top: 70px;
}

.navbar {
  background-color: $color-work-1;
  * {
    color: $color-work-4 !important;
    font-size: 18px !important;
  }

  .navbar-brand {
    font-size: 30px !important;
  }

  .navbar-btn {
    background-color: $color-work-2;
  }

}

.puzzle-container {
  height: auto;
  width: 100%;

  margin-top: 20px;

  svg {
    height: 100%;
    width: 100%;
  }
}