/* Coolors Exported Palette - coolors.co/eaeaea-6bb2a0-a5ffd6-ffa69e-ff6868 */

$colorGrey: #eaeaea; //rgba(234, 234, 234, 100)
$colorLightGreen: #A5FFC7; //rgba(107, 178, 160, 100)
$colorMiddleGreen: #11DB8D; //rgba(165, 255, 214, 100)
$colorDarkGreen: #2DB773; //rgba(165, 255, 214, 100)
$colorLightRed: #ffa69e; //rgba(255, 166, 158, 100)
$colorMiddleRed: #FF7777; //rgba(255, 104, 104, 100)
$colorDarkRed: #FF5154; //rgba(255, 104, 104, 100)