@import url(https://fonts.googleapis.com/css?family=Roboto);

$fontFamily: 'Roboto', sans-serif;

.puzzle-container {
  height: auto;
  width: 100%;

  //position: relative;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //
  //margin: auto;
  svg {
    height: 100%;
    width: 100%;
  }
}